.container {
  height: 100%;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.75);
  padding: 30px;
  margin: 20px;
  background-color: white;
  position: relative;
}

.divider {
  padding: 15px;
}

.buttons {
  padding-top: 15px;
}