.container {
  height: 100%;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.75);
  padding: 30px;
  margin: 20px;
  background-color: white;
  position: relative;
}

.divider {
  padding: 15px;
}

.messageContainer {
  min-height: 600px;
  max-height: 600px;
  border-radius: 3px;
  color: white;
  border: 2px solid #bdbdbd;
  background-color: #1b1c1d;
}

.title {
  position: relative;
}

.btnGroup {
  position: absolute;
  right: 0;
  margin-right: 30px;
  top: 0;
  margin-top: 18px;
}
